#uri {
  padding: 8px 10px;
  width: 500px;
}

#getResult {
  color: #fff;
  background: cadetblue;
  padding: 8px 15px;
  border-radius: 12px;
}

#result {
  background-color: #f7f7f7;
}

#result .item {
  display: inline-block;
  padding: 20px;
  margin: 15px;

  width: 120px;
}

#result .item:hover {
  background: #e7e7e7;
}

#result .item .icon img,
#result .item .icon video {

  width: 120px;
  height: 120px;

}

#result .item .text {

  width: 100%;
  white-space: pre-wrap;
  overflow: hidden;

}